@{
    ViewBag.Title = "About us";
}



<div class="A1_title">
    <h1>What make us unique?</h1>
</div>
<div class="A2_top">
    <div class="Artical1">
        <p class="Artical1">
            Our core team is formed by anenthusiasticand diverse group of people.
            We understand the preferencesof foreign tourists in China and appreciate
            the fact that students want to have certain independence in their travels.
        </p>
    </div>
</div>
<div class="A2_mid_left">
    <img src="~/Images/Group_member/Group Meeting.JPG" height="360" width="480">
</div>

<div class="A2_mid_right">
    <img src="~/Images/Group_member/group_three.JPG" height="360" width="480">
</div>

<div class="A2_botton">
    <div class="Artical1">
        <p class="Artical1">
            As such, all the tours we provide are unique and tailored to internationalstudents.
            Our airport pick-up service provides convenient, around-the-clock transportation.
            Our food sampling tour will open your eyes to some of the mouth-watering, exotic,
            authentic cuisine that China has to offer. We don’t discriminate between street
            vendors andlocal restaurants: if it’s good, it’s good. Our transport and hostel
            booking service helps you travel from A to B without having to waste your precious
            time struggling to find a nice place to crash for the night.Our weekend trips,
            such as hiking and camping, offer a unique experience on a limited budget.Our tours
            of scenic townsallow you a glimpse into the hidden gems of China.
        </p>
        <p class="Artical1">
            So join us and explore the real China, with all its beauties and eccentricities
            distilled into a uniquely tailored experience! Hop on board and discover the riches
            that a five thousand year old country bursting with historical flair has to offer!
        </p>
    </div>
</div>