@{
    ViewBag.Title = "Pu_jiang";
}

<h2>Our trips</h2>

<div class="Trips_left">
    <div class="Trips_menu">
        <a href="@Url.Action("Kayak","Trips")" target="Trips_right">Ningbo Kayaking Tour</a>
        <br><br>
        <a href="@Url.Action("Pu_jiang","Trips")" target="Trips_right">Pujiang Camping Tour</a>
        <br><br />
        <a href="@Url.Action("Siming_mount","Trips")" target="Trips_right">Siming Mountain Tour</a>
    </div>
</div>
<div class="Pujiang_right">
    <div class="Trips_Artical">
        <h2>Pujiang Campin Tour</h2>
        <h3>Where Yellow Emperor’s Youngest Daughter became Goddess</h3>
        <h4>We Give you a Mountain to Party!</h4>
        <img src="~/Images/pujiang/p6.jpg" width="600" height=" 450" />
        <p class="Artical1">
            Schedule:
        </p>
        <img src="~/Images/pujiang/p2.png" width=" 500" height=" 400"/>
        <br />
        <p class="Artical1">
            Price:
        </p>
        <p class="Artical1">
            ¥448(Delux): Including one breakfast and two lunches, cost of the coach, tents, grills,bonfire and sightseeing boats,
             tickets for White Stone Valley and Xianhua Mountain, grass skating, paid for tour guides and insurance.
        </p>
        <p class="Artical1">
            ¥348(Standed): Meals excluded.
        </p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="FRTAU9TWRPCQ2">
            <table>
                <tr><td><input type="hidden" name="on0" value="Trip">Trip</td></tr>
                <tr>
                    <td>
                        <select name="os0">
                            <option value="Delux">Delux $90.00 CAD</option>
                            <option value="Standed">Standed $70.00 CAD</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="currency_code" value="CAD">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <p class="Artical1">
            Meal:
        </p>
        <p class="Artical1">
            The meals provided by us are normal Chinese food, the breakfast are Milk, Bread and Baozi. 
            If you are not used to Chinese food, we can take you to the local Walmart and buy your own food there. 
        </p>
        <br />
        <img src="~/Images/pujiang/p1.png" width="500" height=" 350" />
        <br />
        <p class="Artical1">
            Wanna spend a night with the nature and have a BBQ & Bonfire party?
        </p>
        <p class="Artical1">
            Wanna experience grass skating down over a hill?
        </p>
        <p class="Artical1">
            Wanna visit the hometown of Chinese painting and calligraphy?
        </p>
        <br />
        <p class="Artical1">
            Come and Join TIC! This November, we are going to give you a VIP trip! No More Crowds!
             Only You and Your Friends have the Privilege to Stay in the Valley and Attend our BBQ & Bonfire Party!
        </p>
        <h3>Day-1:</h3>
        <p class="Artical1">
            In the morning, we will pick you up from your campus and after 1 hours coach driving, we will reach our destination,
             Pujiang County（浦江县）. We will first reach our grass skating site.
        </p>
        <img src="~/Images/pujiang/p3.jpg" width="500" height=" 350" />
        <p class="Artical1">
            After 1 hour playing the grass skating, we are going to visit the first 3D painting village of China. 
            First, we are going to have our lunch in the 3D painting village.
        </p>
        <img src="~/Images/pujiang/p4.jpg" width="500" height=" 350" />
        <p class="Artical1">
            After lunch, we will wander around the whole village and take pictures with the 3D paintings. 
        </p>
        <img src="~/Images/pujiang/p5.jpg" width="500" height=" 350" />
        <p class="Artical1">
            When finishing visiting the villages, we will take you to the market to buy some BBQ food and then head to our camping site,
             White Stone Valley. After 20 minutes boat, we will reach the centre of the valley.
        </p>
        <img src="~/Images/pujiang/p7.jpg" width="500" height=" 350" />
        <p class="Artical1">
            First, we are going to do a little bit hiking to take a glare of this valley’s waterfall.
        </p>
        <p class="Artical1">
            After going down from the mountain, the gate of the tourist site will be closed. 
            Only Us have the Privilege to stay in the valley during the whole night !!! Let’s start to build our tents! 
        </p>
        <img src="~/Images/pujiang/p8.jpg" width="500" height=" 350" />
        <br />
        <img src="~/Images/pujiang/p9.jpg" width="500" height=" 350" />
        <p class="Artical1">
            After finishing building the tents, we can start to prepare our dinner, BBQ! 
        </p>
        <img src="~/Images/pujiang/p10.jpg" width="500" height=" 350" />
        <p class="Artical1">
            While BBQ, we can also set a bonfire with us. Party begins!
        </p>
        <img src="~/Images/pujiang/p11.jpg" width="500" height=" 350" />
        <p class="Artical1">
            After our bonfire party, everyone can creep into the tents and have a sweet dream in the deep valley. 
        </p>
        <h3>Day-1:</h3>
        <p class="Artical1">
            In the morning, we will quickly pack up our tents and have our breakfast. 
            Then we will say goodbye to the valley and head to the Xianhua Mountain, where the youngest daughter of Yellow Emperor became goddess. 
        </p>
        <p class="Artical1">
            The mountain just looks like a girl who is lying down on the ground and facing to the sky.
             We are going to climb to the highest peak of the mountain, where the “girl’s forehead” is.
        </p>
        <img src="~/Images/pujiang/p12.jpg" width="500" height=" 350" />
        <p class="Artical1">
            When finishing the climbing, we will have our lunch in a villa. After that, we will go to our last destination, the Chinese painting gallery. 
            Pujiang, is also famous as the town of Chinese painting. Here, you can have a better understanding of Chinese painting and calligraphy.
        </p>
        <p class="Artical1">
            Finally, after stepping out of the gallery, our tour approaches to its end and we will start our return trip to our campus. 
        </p>
        <h3>Instrutions</h3>
        <p class="Artical1">
            1. There is public toilet and washing basin in the camping site, but there is no place for showering. 
            So please bring your teeth brush, toothpaste and towel etc. 
        </p>
        <p class="Artical1">
            2. The sleeping bag is not included in the traveling cost. 
            So you can bring your own sleeping bag or buy / rent from us. It is 50 RMB/each to buy and 25RMB/each to rent.
        </p>
        <p class="Artical1">
            3. For the BBQ dinner, we do not provide the BBQ food, but we will take you to the market and you can choose the food you like to BBQ.
        </p>
        <p class="Artical1">
           4. Please do not choose your camping site too far away from the official camping site.
        </p>
        <p class="Artical1">
            5. Leona will pick you up from the campus and John will wait you guys at Pujiang and be your guide of this trip.
        </p>
    </div>
</div>

