@{
    ViewBag.Title = "Frame_a";
}

<div class="About_left">
    <div class="About_menu">
        <a href="@Url.Action("Frame_a","About")" target="About_right">Our name</a>
        <br>
        <a href="@Url.Action("Frame_b","About")" target="About_right">Our history</a>
    </div>
</div>

<div class="About_right">
    <div class="About_Artical">
        <h1>TIC</h1>
        <p class="Artical1">
            This Is China.
        </p>
    </div>
</div>
